<div class="card-body">
    <div class="card" style="width: 18rem;" id="Employee">
        <div class="card-header">
            [var: IntName]
            Intern
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> ID - [var: IntID]</li>
            <li class="list-group-item"> Email - [var: IntEMAIL]</li>
            <li class="list-group-item"> Education - [var: SCHOOL]</li>
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>